spring:
  ai:
    google:
      genai:
        api-key: "GEMINI_API_KEY_입력"
        chat:
         options:
           model: gemini-3-flash-preview
  datasource:
    password: "POSTGRE_DB_PASSWORD_입력"
  data:
    redis:
      password: "REDIS_PASSWORD_입력"

naver:
  api:
    id: "NAVER_API_CLIENT_ID_입력"
    secret: "NAVER_API_CLIENT_SECRET_입력"

jwt:
  secret: "JWT_SECRET_입력"
  expiration: 1800000
